*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board{
    width: 70vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.restartButton{
    width: 20vw;
    height: 5vh;
}

.startButton{
    margin-top: 2vh;
    width: 20vw;
    height: 5vh;
    margin-bottom: 2vh;
}
.gameMode-parent{
    position: fixed;
    top: 0;
    height: 0;
    height: 100vh;
    width: 100%;
    display:none;
}
.gameMode{
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    width: 40vw;
    height: 20vh;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:white ;
}

.modeButtons {
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modeButtons > button{
    width: 10vw;
    height: 4vh;
    margin: 2%;
}
    

.cell{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

/* Deleting border */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(3n + 3){
    border-right: none;
}